.container_pricing {
  background-image: url(../img/bg_pricing.png);
  background-repeat: no-repeat;
  background-size: cover;
  @include basic-font700;
  box-sizing: border-box;
}

.pricing {
  &__title {
    font-weight: bold;
    font-size: 1.75em;
    line-height: 1.5em;
    padding-top: 5rem;
    padding-bottom: 1rem;
    text-align: center;
    @include flex(center, center, row);
    color: $tc-light;
  }
}
.pricing__content {
  &__wrapper {
    @include flex(center, center, row);
    flex-wrap: wrap;
    width: 100%;
    padding: 0.5rem 0;

    @media screen and (min-width: 481px) {
      flex-direction: row;
      padding: 3rem 0;
      text-align: center;
    }
  }
  &__box {
    margin: auto 1rem;
    margin-top: 1.5rem;
    background: rgba(255, 255, 255, 0.11);
    padding-bottom: 2.5rem;
    width: 80%;
    @include flex(space-between, center, column);
    border: none;
    color: $tc-light;
    max-height: 100%;
    height: 457px;
    @media screen and (min-width: 481px) {
      margin-top: auto;
      width: 40%;
    }
    @media screen and (min-width: 993px) {
      width: 20%;
    }
  }
  &__active_box {
    background: rgba(70, 48, 72, 0.84);
    mix-blend-mode: normal;
    padding-bottom: 2.5rem;
    margin-top: 1.5rem;
    width: 93%;
    height: 100%;

    @include flex(space-between, center, column);
    border: none;
    color: $tc-light;
    @media screen and (min-width: 481px) {
      justify-content: space-around;
      width: 44%;
      margin-right: 1rem;
      margin-top: 1rem;
      margin-left: -0.25rem;
    }
    @media screen and (min-width: 993px) {
      margin: -1rem 0;
      justify-content: space-around;
      width: 23%;
    }
  }
  &__title {
    width: 100%;
    font-size: 1.5em;
    padding: 1.8rem 0;
    text-transform: uppercase;
    @include flex(center, center, row);
    text-align: center;
    background: rgba(255, 255, 255, 0.06);
    color: $tc-light;
  }
  &__title__active {
    background: rgba(0, 0, 0, 0.11);
    padding: 2.2rem 0;
  }
  &__price {
    font-size: 3.75em;
    line-height: 1.03em;
    padding-top: 1.5rem;
    @include flex(center, center, row);
    text-align: center;
    text-transform: uppercase;
  }

  &__price__active {
    padding-top: 1.5rem;
    font-size: 5em;
    line-height: 1.05em;
  }

  &__price-text {
    position: relative;
    @include flex(center, center, row);
    text-align: center;
    text-transform: uppercase;
    padding-top: 3.65rem;
    font-size: 0.875em;
    line-height: 1.14em;
    padding-bottom: 4.5rem;
  }
  &__price-text::before {
    content: "";
    position: absolute;
    width: 3.7rem;
    height: 0.3em;
    top: 7.5rem;
    left: 0.4rem;
    background: #8d81ac;
  }
  &__type {
    font-size: 1em;
    line-height: 1.125em;
    flex-wrap: wrap;
    @include flex(center, center, column);
    margin: auto;
  }
  &__type__oneline {
    flex-wrap: wrap;
    @include flex(center, center, column);
    margin: auto;
    font-size: 1em;
    line-height: 2.2em;
  }
}
