@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

// @import "fonts";
@import "../scss/variales";
@import "../scss/mixins";
@import "../scss/header";
@import "../scss/aboutfork";
@import "../scss/buttons";
@import "../scss/present_btns";
@import "../scss/features";
@import "../scss/pricing";

// ==================

.container {
  min-width: 320px;
  font-size: 16px;

  @media screen and (min-width: 481px) {
    margin: 0 auto;
  }

  @media screen and (min-width: 993px) {
    max-width: 1200px;
    margin: 0 auto;
  }
}

body.lock {
  overflow: hidden;
}

.resp-img {
  width: 100%;
  height: auto;
  // max-width: 500px; //* тут можно указать необходимый размер и переести в % и перенести родителю изображения
}

.text_center {
  text-align: center;
}
.section-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
}
.flex-between-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.flex-wrapper-center {
  justify-content: center;
}
