<section class="features">
  <div class="container container_features">
    <h2 class="section-title features__title text_center">
      &lt;Here is what you get&gt;
    </h2>
    <div class="features__content__wrapper"><div class="features__content__wrapper-box">
      <div class="features__content__box">
        <img class="features__content__icon"src="../img/icons/features-icon1.png"alt=""/>
        <div class="features__content__text-box"><span class="features__content__title text_center"
          >Creatred to Make The Web Better
        </span>
        <span class="features__content__text text_center"
          >Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
          laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget
          ut augue
        </span></div>
      </div>

      <div class="features__content__box">
        <img class="features__content__icon"src="../img/icons/features-icon2.png" alt=""/>
        <div class="features__content__text-box"><span class="features__content__title text_center"
          >Incredibly Powerful Tool
        </span>
        <span class="features__content__text text_center"
          >Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
          odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
          gravida luctus. Aliquam erat volutpat.
        </span></div>
      </div>

      <div class="features__content__box">
        <img class="features__content__icon"src="../img/icons/features-icon3.png"alt=""/>
        <div class="features__content__text-box"><span class="features__content__title text_center"
          >Experimental Stuff
        </span>
        <span class="features__content__text text_center"
          >Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
          odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
          gravida luctus. Aliquam erat volutpat.
        </span></div>
      </div>

      <div class="features__content__box">
        <img class="features__content__icon"src="../img/icons/features-icon4.png" alt=""/>
        <div class="features__content__text-box"><span class="features__content__title text_center"
          >Creatred to Make The Web Better
        </span>
        <span class="features__content__text text_center"
          >Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
          odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi
          gravida luctus. Aliquam erat volutpat.
        </span></div>
        
      </div></div><h2 class="section-title features__title-image text_center">
        &lt;Here is what you get&gt;
      </h2>
      <img class="features__content__image"src="../img/features-editor.png"alt=""/>
         </div>
         
  </div>
</section>
